Request header fields name does not match the standard with proxy

From https://github.com/webpack/webpack-dev-server/issues/1186

### Expected behavior
Server received data of HTTP header fields name match the RFC standard. see [List of HTTP header fields](https://en.wikipedia.org/wiki/List_of_HTTP_header_fields).

### Actual behavior

Server received data
```
50 4f 53 54 20 2f 64 32  2f 72 2f 76 32 2f 75 73   POST /d2/r/v2/us
65 72 2f 6c 6f 67 6f 6e  20 48 54 54 50 2f 31 2e   er/logon HTTP/1.
31 0d 0a 63 6f 6e 74 65  6e 74 2d 74 79 70 65 3a   1..content-type:
20 61 70 70 6c 69 63 61  74 69 6f 6e 2f 6a 73 6f    application/jso
6e 0d 0a 63 6f 6f 6b 69  65 3a 20 69 31 38 6e 65   n..cookie: i18ne
78 74 3d 65 6e 2d 55 53  0d 0a 61 63 63 65 70 74   xt=en-US..accept
2d 6c 61 6e 67 75 61 67  65 3a 20 65 6e 2d 55 53   -language: en-US
2c 65 6e 3b 71 3d 30 2e  39 2c 7a 68 2d 43 4e 3b   ,en;q=0.9,zh-CN;
71 3d 30 2e 38 2c 7a 68  3b 71 3d 30 2e 37 2c 7a   q=0.8,zh;q=0.7,z
68 2d 54 57 3b 71 3d 30  2e 36 0d 0a 61 63 63 65   h-TW;q=0.6..acce
70 74 2d 65 6e 63 6f 64  69 6e 67 3a 20 67 7a 69   pt-encoding: gzi
70 2c 20 64 65 66 6c 61  74 65 2c 20 62 72 0d 0a   p, deflate, br..
72 65 66 65 72 65 72 3a  20 68 74 74 70 3a 2f 2f   referer: http://
31 32 37 2e 30 2e 30 2e  31 3a 38 30 38 33 2f 0d   127.0.0.1:8083/.
0a 64 6e 74 3a 20 31 0d  0a 75 73 65 72 2d 61 67   .dnt: 1..user-ag
65 6e 74 3a 20 4d 6f 7a  69 6c 6c 61 2f 35 2e 30   ent: Mozilla/5.0
20 28 4d 61 63 69 6e 74  6f 73 68 3b 20 49 6e 74    (Macintosh; Int
65 6c 20 4d 61 63 20 4f  53 20 58 20 31 30 5f 31   el Mac OS X 10_1
33 5f 31 29 20 41 70 70  6c 65 57 65 62 4b 69 74   3_1) AppleWebKit
2f 35 33 37 2e 33 36 20  28 4b 48 54 4d 4c 2c 20   /537.36 (KHTML, 
6c 69 6b 65 20 47 65 63  6b 6f 29 20 43 68 72 6f   like Gecko) Chro
6d 65 2f 36 32 2e 30 2e  33 32 30 32 2e 38 39 20   me/62.0.3202.89 
53 61 66 61 72 69 2f 35  33 37 2e 33 36 0d 0a 78   Safari/537.36..x
2d 72 65 71 75 65 73 74  65 64 2d 77 69 74 68 3a   -requested-with:
20 58 4d 4c 48 74 74 70  52 65 71 75 65 73 74 0d    XMLHttpRequest.
0a 6f 72 69 67 69 6e 3a  20 68 74 74 70 3a 2f 2f   .origin: http://
31 32 37 2e 30 2e 30 2e  31 3a 38 30 38 33 0d 0a   127.0.0.1:8083..
61 63 63 65 70 74 3a 20  61 70 70 6c 69 63 61 74   accept: applicat
69 6f 6e 2f 6a 73 6f 6e  2c 20 74 65 78 74 2f 6a   ion/json, text/j
61 76 61 73 63 72 69 70  74 2c 20 2a 2f 2a 3b 20   avascript, */*; 
71 3d 30 2e 30 31 0d 0a  63 61 63 68 65 2d 63 6f   q=0.01..cache-co
6e 74 72 6f 6c 3a 20 6e  6f 2d 63 61 63 68 65 0d   ntrol: no-cache.
0a 70 72 61 67 6d 61 3a  20 6e 6f 2d 63 61 63 68   .pragma: no-cach
65 0d 0a 63 6f 6e 74 65  6e 74 2d 6c 65 6e 67 74   e..content-lengt
68 3a 20 33 39 0d 0a 63  6f 6e 6e 65 63 74 69 6f   h: 39..connectio
6e 3a 20 63 6c 6f 73 65  0d 0a 68 6f 73 74 3a 20   n: close..host: 
31 39 32 2e 31 36 38 2e  38 30 2e 33 33 3a 35 30   192.168.80.33:50
33 30 35 0d 0a 0d 0a 7b  22 75 73 65 72 6e 61 6d   305....{"usernam
65 22 3a 22 61 64 6d 69  6e 22 2c 22 70 61 73 73   e":"admin","pass
77 6f 72 64 22 3a 22 61  64 6d 69 6e 22 7d         word":"admin"}
```

All HTTP header fields name in lower case.  Headers identification is case sensitive by RFC standard for my uncontrollable server.

### Setup

* http-proxy-middleware: 0.17.4

#### proxy middleware configuration
```javascript
    proxy: {
      '/d2': {
        target: 'http://192.168.80.33:50305'
      }
    }
```

### Feature / Suggestion
Output request header fields name match the RFC standard as default.

Not sure which RFC you're referring to...

[`RFC 2616`](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2), [`RFC 7230`](https://tools.ietf.org/html/rfc7230#section-3.2) and [`RFC 7540`](https://tools.ietf.org/html/rfc7540#section-8.1.2) all state the http header field names are case-insensitive.

See discussion: https://stackoverflow.com/a/5259004/3841188

---

lower-casing is just how nodejs [`http`](https://nodejs.org/api/http.html#http_http) works:
> Keys are lowercased. Values are not modified.

http-proxy-middleware doesn't modify the headers nor the method nor their casing. if it's a direct issue, then the issue lies with [http-proxy](https://github.com/nodejitsu/node-http-proxy).


I can not control the server, can not rewrite request header. 😭